@if (MembershipHelper.IsAuthenticated)
{
    <a class="btn btn-outline-warning" href="@Url.Action("Index","User")">Profile</a>
}
else
{
    <a class="btn btn-outline-warning" href="@Url.Action("SignIn","Account")">Sign In</a>
}

<span>&nbsp;&nbsp; &nbsp;&nbsp;</span>

@if (MembershipHelper.IsAuthenticated)
{
    using (Html.BeginForm("SignOut", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
    }
    <a class="btn btn-outline-primary" href="javascript:void(0);" onclick="return  document.getElementById('logoutForm').submit()">Sign Out</a>
}
else
{
    <a class="btn btn-outline-primary" href="@Url.Action("SignUp","Account")">Sign Up</a>
}